<?xml version="1.0"?>
<configuration version="1.0"> 
  <filename>abcd</filename>
  <source_sessions>
    <source_session name="SourceA">
      <name>SourceA</name>
      <id>1000</id>
      <protocol>Custom1</protocol>
      <router_id>1</router_id>
    </source_session>
    <source_session name="SourceB">
      <name>SourceB</name>
      <id>1001</id>
      <protocol>Custom1</protocol>
      <router_id>1</router_id>
    </source_session>
  </source_sessions>
  <destination_sessions>
    <destination_session name="DestinationA">
      <name>DestinationA</name>
      <id>2000</id>
      <protocol>Custom1</protocol>
      <router_id>1</router_id>
    </destination_session>
    <destination_session name="DestinationB">
      <name>DestinationB</name>
      <id>2001</id>
      <protocol>Custom1</protocol>
      <router_id>1</router_id>
    </destination_session>
  </destination_sessions>
</configuration>